"""{{ project_name }} - {{ project_description }}."""

__version__ = "0.1.0"


def main() -> None:
    """Main entry point."""
    print("Hello from {{ project_name }}!")


if __name__ == "__main__":
    main()
