"""{{ package_name.capitalize() }} application."""


def run() -> None:
    """CLI entry point for {{ package_name }}."""
    print("Hello from {{ package_name }} app!")


if __name__ == "__main__":
    run()
