"""{{ package_name }} - {{ package_description }}."""


def main() -> None:
    """Main entry point for {{ package_name }}."""
    print("Hello from {{ package_name }}!")


if __name__ == "__main__":
    main()
